pip==25.0.1
aiohttp==3.11.12
async-timeout==4.0.3
fastapi==0.108.0
httpx==0.28.1
pydantic==2.10.6
python-dotenv>=0.21.0,<0.22.0
regex==2024.11.6
requests==2.32.3
uvicorn==0.25.0
manim==0.19.0
json_repair==0.37.0
chardet==5.2.0
jinja2==3.1.2
astor
runpod
uvloop
supabase
google-auth